 @import "tailwindcss";
/*
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: slategrey;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#display {
    display: flex;
    flex-direction: column;
    gap: 24px;


    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.to-do-item {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 10px;
}

.to-do-item p::first-letter,
.to-do-item h2::first-letter {
    text-transform: capitalize;
}


#sidebar {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    
}

#sidebar .projectBtn,
#new-btn {
    background-color: lightgrey;
    border-radius: 8px;
    padding: 8px;

}

.small {
    font-size: small;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.sidebar {
    grid-area: 1 / 1 / 2 / 2; 
}

.main-content {
grid-area: 1 / 2 / 2 / 3;
 */
